/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-image:url(imagens/fundo.jpg);
    color: #0b127dbc;

}

/* CONTAINER */
.main-wrapper {
    padding: 20px;
}

.container {
    
    max-width: 900px;
    margin: auto;
    background: #746e6e;
    border-radius: 20px;
    overflow: hidden;
}

/* HEADER */
header {
    background: #212171;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-bottom: #f8fbfb solid 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-emoji {
    font-size: 3rem;
}

/* MENU */
nav {
    background: #0800ff;
    color: #16149b;
    padding: 15px;
    padding: 20px;
    border-bottom: 10px solid #fbfbfb;
    

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 20px;
    background: #ffffff;
    color: #0f1011;
    border: 2px solid #e2e8f0;
}

nav a:hover {
    background: #2142a6;
    color: #fff;
   
}

/* SEÇÕES */
main {
    padding: 30px;
    background-color: #06072b;
    
}

section {
    
    background: #2b93cb73;
    padding: 25px;
    margin-bottom: 30px;
    border-left: 20px solid #00d5ff;
    border-radius: 12px;
    color: #fff;
}


section h3{
    margin-bottom: 15px;
    color: black
}
/* FOOTER */
footer {
    border-top: #00d5ff solid 10px;
    background: #212171;
    color: #fff;
    text-align: center;
    padding: 25px;
}

/* Imagens quadradas: define tamanho fixo e usa object-fit para cortar/proporcionalizar */
section img {
   
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 12px 0;
    border-radius: 8px;
    max-width: 100%;
}
